@keyframes ldio-ozcujyrdan {
    0% {
      opacity: 1;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.95,1.95);
    } 100% {
      opacity: 0;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1,1);
    }
  }

  .ldio-ozcujyrdan div > div {
    position: absolute;
    width: 20.299999999999997px;
    height: 20.299999999999997px;
    border-radius: 50%;
    background: black;
    animation: ldio-ozcujyrdan 0.5847953216374269s linear infinite;
  }.ldio-ozcujyrdan div:nth-child(1) > div {
    left: 152.5px;
    top: 91.49999999999999px;
    animation-delay: -0.531632110579479s;
  }
  .ldio-ozcujyrdan > div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 162.64999999999998px 101.64999999999999px;
  }.ldio-ozcujyrdan div:nth-child(2) > div {
    left: 142.5px;
    top: 124.49999999999999px;
    animation-delay: -0.47846889952153115s;
  }
  .ldio-ozcujyrdan > div:nth-child(2) {
    transform: rotate(32.72727272727273deg);
    transform-origin: 152.64999999999998px 134.64999999999998px;
  }.ldio-ozcujyrdan div:nth-child(3) > div {
    left: 116.49999999999999px;
    top: 146.5px;
    animation-delay: -0.42530568846358324s;
  }
  .ldio-ozcujyrdan > div:nth-child(3) {
    transform: rotate(65.45454545454545deg);
    transform-origin: 126.64999999999999px 156.64999999999998px;
  }.ldio-ozcujyrdan div:nth-child(4) > div {
    left: 82.49999999999999px;
    top: 151.5px;
    animation-delay: -0.37214247740563533s;
  }
  .ldio-ozcujyrdan > div:nth-child(4) {
    transform: rotate(98.18181818181819deg);
    transform-origin: 92.64999999999999px 161.64999999999998px;
  }.ldio-ozcujyrdan div:nth-child(5) > div {
    left: 51.499999999999986px;
    top: 137.5px;
    animation-delay: -0.3189792663476874s;
  }
  .ldio-ozcujyrdan > div:nth-child(5) {
    transform: rotate(130.9090909090909deg);
    transform-origin: 61.64999999999999px 147.64999999999998px;
  }.ldio-ozcujyrdan div:nth-child(6) > div {
    left: 32.499999999999986px;
    top: 108.49999999999999px;
    animation-delay: -0.2658160552897395s;
  }
  .ldio-ozcujyrdan > div:nth-child(6) {
    transform: rotate(163.63636363636363deg);
    transform-origin: 42.64999999999999px 118.64999999999999px;
  }.ldio-ozcujyrdan div:nth-child(7) > div {
    left: 32.499999999999986px;
    top: 74.49999999999999px;
    animation-delay: -0.21265284423179162s;
  }
  .ldio-ozcujyrdan > div:nth-child(7) {
    transform: rotate(196.36363636363637deg);
    transform-origin: 42.64999999999999px 84.64999999999999px;
  }.ldio-ozcujyrdan div:nth-child(8) > div {
    left: 51.499999999999986px;
    top: 45.499999999999986px;
    animation-delay: -0.1594896331738437s;
  }
  .ldio-ozcujyrdan > div:nth-child(8) {
    transform: rotate(229.0909090909091deg);
    transform-origin: 61.64999999999999px 55.64999999999999px;
  }.ldio-ozcujyrdan div:nth-child(9) > div {
    left: 82.49999999999999px;
    top: 31.499999999999986px;
    animation-delay: -0.10632642211589581s;
  }
  .ldio-ozcujyrdan > div:nth-child(9) {
    transform: rotate(261.8181818181818deg);
    transform-origin: 92.64999999999999px 41.64999999999999px;
  }.ldio-ozcujyrdan div:nth-child(10) > div {
    left: 116.49999999999999px;
    top: 35.499999999999986px;
    animation-delay: -0.053163211057947905s;
  }
  .ldio-ozcujyrdan > div:nth-child(10) {
    transform: rotate(294.54545454545456deg);
    transform-origin: 126.64999999999999px 45.64999999999999px;
  }.ldio-ozcujyrdan div:nth-child(11) > div {
    left: 142.5px;
    top: 58.499999999999986px;
    animation-delay: 0s;
  }
  .ldio-ozcujyrdan > div:nth-child(11) {
    transform: rotate(327.27272727272725deg);
    transform-origin: 152.64999999999998px 68.64999999999999px;
  }



  .loadingio-spinner-spin-w1t42r65zvk {
    width: 203px;
    height: 203px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-ozcujyrdan {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 130px;

    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-ozcujyrdan div { box-sizing: content-box; }
  /* generated by https://loading.io/ */